.delete-btn {
    margin-left: 10px;
    color: red;
}

.button-container {
	display: flex;
	flex-wrap: wrap;
	justify-content: center;
	margin: 20px 0;
}

.button-container button {
	width: 50px;
	height: 30px;
	margin: 2px;
	background-color: grey;
	color: white;
	border: none;
	border-radius: 4px;
}
.row {
	display: flex;
	justify-content: center;
	width: 100%;
}

.popup {
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: white;
    padding: 20px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.5);
    z-index: 1000;
    border-radius: 8px;
}

.popup-content {
    max-height: 400px;
    overflow-y: auto;
}

.popup-close {
    position: absolute;
    top: 10px;
    right: 10px;
    cursor: pointer;
    font-size: 20px;
}

.interface-info, .vlan-controls, .enable-disable {
    margin-bottom: 10px;
}

